.fondo-nav{
    background-color: white;
    border-bottom: 1px solid var(--primary);
}
.contenedor-navegacion{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.navegacion-pages {
    padding: 10px 0px;
    display: flex;
    align-items: center;   
}

.enlace-link{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    margin: 0px 8px;  
    font-weight: 300;
    
}

.nav-hover{
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 3px 
    no-repeat;
    transition: 0.5s;
}
.nav-hover:hover{
    --d: 100%;
}
.navegacion-active{
    color: var(--primario) ;
}
.navegacion-borde {
    border: 1px solid var(--primario);
    padding: 10px 10px;
    border-radius: 5px;
}
.navegacion-login:hover{
    background-color: var(--primario);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
}
.navegacion-registro{
    background-color: var(--primario);
    color: white !important;
}
.navegacion-registro:hover{
    background-color: var(--primario);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
}
