
.cabecero{
  background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    ), url(../../img/portada-cabecero.jpg);
  height: 89vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.cabecero-titulo h2{
  font-size: 60px;
  font-weight: 400;
  margin: 0px;
}
.cabecero-titulo p{
  font-size: 25px;
}
.cabecero-empieza{
  display: flex;
  flex-direction: column;
}
.cabecero-empieza h2{
  font-size: 35px;
  font-weight: 400;
}

/* secciones */
.contenedor-secciones{
  margin: 50px 150px 20px 150px;
  border: 1px solid var(--background);
  border-radius: 5px;
  color: var(--text);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);
  background-color: white;   
}
.secciones-titulos{
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  margin: 50px auto 0px auto;
  color: var(--texto-negro);
}
/* main */
.main-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  min-height: 450px;
  color: var(--text);
  padding: 0px 50px;
}
.main-lista li{
  list-style: none;
  margin: 50px auto;
}

.dispositivos-contenedor{
  display: flex;
  flex-direction: column;
}
.dispositivos-flex{
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-evenly;
  
  
}
.dispositivos-flex:hover{
  color: var(--primario);
  transition: 0.5s;
}
.dispositivos-flex i{
  font-size: 70px;
}
.centrar-text-secciones{
  text-align: center;
}
.secciones-i{
  font-size: 80px;
  margin-bottom: 20px;
}
.secciones-i:hover{
  color: var(--primario);
}
.seccion-boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seccion-boton a{
  margin-bottom: 20px;
  text-align: center;
  margin: auto 200px 20px 200px;
}